<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>mylogs.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
         <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
             <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
                 <driverClass>com.mysql.jdbc.Driver</driverClass>
                 <jdbcUrl>jdbc:mysql://localhost:8022/logbackdb</jdbcUrl>
                 <user>logback</user>
                 <password>logback</password>
             </dataSource>
         </connectionSource>
     </appender>-->

     <!-- Аппендер для записи в базу данных -->
    <!--<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
            <dataSource class="org.h2.jdbcx.JdbcDataSource">
            <url>jdbc:h2:file:D:/Antonio/UrFU/Items/2 course/software technologies/My_Projects/CourseProjectSpringBoot/src/main/resources/CourseProjectDB/H2_2</url>
            </dataSource>
        </connectionSource>
    </appender>-->

    <!-- Корневой элемент с тремя аппендерами -->
    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="DB"/>-->
    </root>
</configuration>


